{% extends 'snippet/layout.html' %}

{% block javascript %}
<script type="text/javascript">
      $(document).ready(function(){

        $(document).on('click', '.create-channel',  function() {
          $(".channel-box").show();
        });

        $(document).on('click', '.cancel-post',  function() {
          $(".channel-box").hide();
          $(".create-channel").show();
        });
      });
    </script>

<script type="text/javascript">
        jQuery(document).ready(function() {
            $('.follow').click(function() {
                var channel_id = $(this).find('input').val();    
                if($(this).hasClass('followed')) {
                        $.getJSON('/f/'+channel_id, function(data) {
                            if(data.success!=0&&data.message=="revert_followed") {
                                $('#btn-'+channel_id).removeClass('followed');
                                $('#btn-'+channel_id).find('span').text("关注");

                            }
                        });                        
                } else {
                    $.getJSON('/f/'+channel_id, function(data) {
                        if(data.success!=0&&data.message=="success_followed") {
                            $('#btn-'+channel_id).addClass('followed');
                            $('#btn-'+channel_id).find('span').text("取消关注");

                        }
                    }); 
                }
            });        
        });
    </script>
{% endblock %}

{% block main %}
<div class="channels">

  <div class="content-header">
    <div class="header-inner">

      <h2 id="content-main-heading">我的关注</h2>

      <p class="subheader">我关注的频道以及自己创建的频道。</p>

    </div>

    <div id="myModal"  class="modal hide modal-dialog absolute-position" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 550px; top: 119.5px;">
      <div class="modal-dialog-title modal-dialog-title-draggable" id=":21">
        <span class="modal-dialog-title-text">创建短片频道</span>
        <span class="modal-dialog-title-close" data-dismiss="modal" aria-hidden="true"></span>
      </div>
      <div class="modal-dialog-content">
        <div id="zh-add-question-wrap" class="zh-add-question-form">

          <form class="js-add-question-form" action="/video" method="post">
            <div class="zg-section-big clearfix">

              <div class="zg-form-text-input add-question-title-form" style="position: relative;">
                <textarea class="zg-editor-input zu-seamless-input-origin-element" title="输入频道名称" id="zh-question-suggest-title-content" aria-label="输入频道名称" placeholder="输入频道名称" name="name" aria-haspopup="false" autocomplete="off" style="white-space: pre; height: 22px; min-height: 22px;" role="combobox" aria-autocomplete="list" aria-activedescendant="" type="text"></textarea>
              </div>

              <div id="zh-question-suggest-ac-wrap" class="question-suggest-ac-wrap"></div>
            </div>
            <div class="zg-section-big">

              <div class="add-question-section-title">
                频道介绍：
                <span id="zh-question-form-detail-err"></span>
              </div>
              <div id="zh-question-suggest-detail-container" class="zm-editable-status-editing">
                <div class="zm-editable-editor-wrap no-toolbar" style="">
                  <div class="zm-editable-editor-outer">
                    <div class="zm-editable-editor-field-wrap">
                      <textarea name="intro" placeholder="写点频道介绍吧..." id="mock:22" class="zm-editable-editor-field-element editable" g_editable="true" contenteditable="true" style=""></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="zm-command">

              <a href="javascript:;" name="cancel" class="zm-command-cancel" data-dismiss="modal" aria-hidden="true">取消</a>
              <button class="btn btn-primary" type="submit" id="61.post" >创建频道</button>
              <input type="hidden" name="subnav_name" value="{{ active_tab }}">{{ xsrf_form_html() }}</div>
          </form>
        </div>
      </div>
    </div>

    <div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <form class="mt10" action="/video" method="post">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h5 id="myModalLabel">创建短片频道</h5>
        </div>
        <div class="modal-body">
          <div class="row1">
            <div class="t-link">频道名称:</div>
            <div class="v-link">
              <input type="text" placeholder="输入频道名称" name="name"></div>
          </div>
          <div class="row2">
            <div class="t-link">频道介绍:</div>
            <div class="v-description">
              <textarea rows="3" class="content mt5 smart-code-support J_replyContent" placeholder="写点频道介绍吧..." name="intro"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
          <button class="btn btn-primary" type="submit" id="61.post" >创建频道</button>
          <input type="hidden" name="subnav_name" value="{{ active_tab }}">{{ xsrf_form_html() }}</div>
      </form>
    </div>
    {% set tab_bar = [
      ('/follow?tab=followed', 'followed', '关注的频道'),
      ('/follow?tab=created', 'created', '创建的频道'),                          
  ] -%}
  {% set active_tab = active_tab|default('index') -%}
    <div class="tabbar">
      {% for href, id, caption in tab_bar %}
      <div class="tab {% if id == active_tab %}m-active{% endif %}" >
        <a href="{{ href|e }}" class="tab-link">{{ caption|e }}</a>
        <span class="tab-highlight"></span>
      </div>
      {% endfor %}
    </div>
  </div>

  <div id="timeline">
    <div class="stream-container " data-cursor="1381275393829:20">
      <div class="stream discover-stream">
        <ol class="stream-items js-navigable-stream" id="stream-items-id">
          {% for channel in channels.list %}
          <li class="js-stream-item stream-item stream-item" data-item-id="56833" id="stream-item-user-56833" data-item-type="user">

            <div class="account   js-actionable-user js-profile-popup-actionable " data-screen-name="isaac" data-user-id="56833" data-feedback-token="133">
              <div class="user-actions btn-group not-following  " data-user-id="7948282" data-screen-name="zhengyun" data-name="zhengyun" data-protected="false">
                {% if channel.follow_user_id==channel.author_id %}
                <div role="button" id="btn-{{ channel.id }}" class="a-f-e c-b c-b-T y-qa-za-b-s y-qa-za-b followed disabled" title="" style="visibility: visible; -webkit-user-select: none; max-width: 232px;">
                  <input type="hidden" name="channel_id" value="{{ channel.id }}">
                  <span class="follow-text" dir="ltr">已关注</span>
                </div>
                {% else %}
                <div role="button" id="btn-{{ channel.id }}" class="a-f-e c-b c-b-T y-qa-za-b-s y-qa-za-b follow followed" title="" style="visibility: visible; -webkit-user-select: none; max-width: 232px;">
                  <input type="hidden" name="channel_id" value="{{ channel.id }}">
                  <span class="follow-text" dir="ltr">取消关注</span>
                </div>
                {% endif %}
              </div>

              <div class="content">
                <div class="stream-item-header">
                  <a class="account-group js-user-profile-link" href="/c/{{ channel.id }}">
                    <img class="avatar js-action-profile-avatar " src="/static/avatar/channel/b_{{ channel.avatar or 'default.png' }}?t={{ gen_random() }}" alt="{{ channel.name }}"> <strong class="fullname js-action-profile-name">{{ channel.name }}</strong>
                    <span>‏</span>
                    <span class="username js-action-profile-name">@{{ channel.author_username }}</span>
                  </a>
                </div>
                <p class="bio ">{{ channel.intro }}</p>

                <p class="metadata">
                  {{ channel.posts }} 个视频,
                  {{ channel.followers}} 人关注.
                </p>

              </div>
            </div>

          </li>
          {% endfor %}
        </ol>

        <div class="stream-footer ">
          <div class="timeline-end has-items has-more-items">

            <div class="stream-loading">
              <div class="stream-end-inner">
                <div class="pagination">{{ channels.page|pagination(request.uri) }}</div>
                {% if channels.page.total == 0 %}
                <div class="pl10 pr10">

                  <div class="alert mt20">{{ notice_text }}</div>

                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block right %}

{% endblock %}