{% extends 'snippet/layout.html' %}

{% block javascript %}
<script src="/static/js/json_parse.js"></script>
<script src="http://cdn.bootcss.com/json2/20121008/json2.min.js"></script>

<script src="/static/js/raty/jquery.raty.min.js"></script>

<script type="text/javascript">
    $(function() {
      $.fn.raty.defaults.path = '/static/js/raty/img';
      $('.rating').raty({ 
        half: true,
        score: function() {
          return $(this).parent().find('.score').text()/2;
        },
        click: function(score, evt) {
          $(this).parent().find('.score').text(score*2);
          var post_id = $(this).parent().parent().parent().find('.bottom').find('input').val();
          $.ajax({
              type: "POST",
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              url: "/rate/"+post_id,
              data: JSON.stringify({score: score}), 
              success: function (msg) {
                //alert("success")
              },
              error: function (msg) {
                alert("error");
              }
            });
        },
        hints: ['很差，浪费生命', '不喜欢', '一般，不妨一看', '喜欢，值得推荐', '非常喜欢，不容错过'],    
      });
    })
</script>

<script type="text/javascript">
      $(document).ready(function(){
        $(document).on('click', '.thumb-img, .thumb i, .thumb .title',  function() {  
          $(this).parent().hide();
          $(this).parent().parent().find('.thumb-video').show();
        });
      });
    </script>

<script type="text/javascript">
      $(document).ready(function(){
        $(document).on('click', '.retract, .show_big, .turn_right',  function() {
          $(this).parent().parent().hide();
          $(this).parent().parent().parent().find('.thumb-imgs').show();
        });
      });
    </script>

<script type="text/javascript">
      $(document).ready(function(){
        $(document).on('click', '.comment',  function() {
          $(this).hide();
          $(this).parent().parent().find(".comment-editor").html("<div class=\"divider\" style=\"\"></div><div class=\"wrapper\"><a href=\"./u/{{ user_info.username }}\" class=\"\" aria-hidden=\"true\"><img src=\"/static/avatar/user/s_{{user_info.avatar or 'default.png'}}\"width=\"28px\" height=\"28px\" alt=\"\" class=\"avatar\"></a><textarea class=\"editor-box\"></textarea><span class=\"button-wrap\"><div role=\"button\" id=\":61.post\" class=\"gbtn post post-comment gbtn-unenable\"  style=\"-webkit-user-select: none;\">发布评论</div><div role=\"button\" id=\":61.cancel\" class=\"gbtn cancel cancel-comment\" style=\"-webkit-user-select: none;\">取消</div></span></div>");
        });

        $(document).on('click', '.cancel-comment',  function() {
          $(this).parent().parent().parent().html("");
          $(".comment").show();
        });

        $(document).on('click', '.post-btn',  function() {
          $(this).hide();
          $(".post-box").show();
        });

        $(document).on('click', '.cancel-post',  function() {
          $(".post-box").hide();
          $(".post-btn").show();
        });
      });
    </script>

<script type="text/javascript">
      $(document).ready(function(){
        $(document).on('input', '.editor-box',  function() {
          $(this).parent().find('.gbtn-unenable').removeClass('gbtn-unenable');
        });

        $(document).on('click', '.post-comment',  function() {
          if ($(this).parent().parent().parent().parent().hasClass('comment-card')) {
            var comment_editor = $(this).parent().parent().parent();
            var comment_box = $(this).parent().parent().parent().parent().find('.comment-box');
            var post_id = $(this).parent().parent().parent().parent().parent().find('.bottom').find('input').val();
            var comment_content = $(this).parent().parent().find(".editor-box").val();
            var comment_list = $(this).parent().parent().parent().parent().find('.jspScrollable');
            var comment_string = comment_list.html() + '<li><div class="pic"><a href="/u/{{ user_info.username }}" target="_blank"><img src="/static/avatar/user/s_{{ user_info.avatar or "default.png" }}"></a></div><div class="doSth"><p><a class="mb_name" href="/u/{{ user_info.username }}" target="_blank">{{ user_info.username }}</a><span class="time">刚刚</span></p><p><span class="text">' + comment_content + '</span></p></div></li>';

            $.ajax({
              type: "POST",
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              url: "/comment/"+post_id,
              data: JSON.stringify({comment_content: comment_content}), 
              success: function (msg) {
                comment_editor.html("");
                comment_box.show();
                comment_list.html(comment_string);
              },
              error: function (msg) {
                alert("error");
              }
            });
          }
          else {
            var comment_editor = $(this).parent().parent().parent();
            var comment_card = $(this).parent().parent().parent().parent().parent().find(".comment-card");
            var post_id = $(this).parent().parent().parent().parent().find('.bottom').find('input').val();
            var comment_content = $(this).parent().parent().find(".editor-box").val();

            $.ajax({
              type: "POST",
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              url: "/comment/"+post_id,
              data: JSON.stringify({comment_content: comment_content}), 
              success: function (msg) {
                comment_editor.html("");
                comment_card.html('<div class="divider"></div><div class="c-num"><a class="c-link">1 条评论</a><span class="c-icon"></span></div><div class="comment-list"><div class="ftRt"><ul class="jspScrollable"><li><div class="pic"><a href="/u/{{ user_info.username }}" target="_blank"><img src="/static/avatar/user/s_{{ user_info.avatar or "default.png"}}"></a></div><div class="doSth"><p><a class="mb_name" href="/u/{{ user_info.username }}" target="_blank">{{ user_info.username }}</a><span class="time">刚刚</span></p><p><span class="text">' + comment_content + '</span></p></div></li></ul></div></div><div class="divider" style=""></div><div class="comment-input-wraper"><div class="comment-box" tabindex="0" role="button">发表评论...</div></div><div class="comment-editor"></div>');
              },
              error: function (msg) {
                alert("error");
              }
            });
          }
        });

$(document).on('click', '.comment-box',  function() {
          $(this).hide();
          $(this).parent().parent().find(".comment-editor").html('<div class="wrapper" style="margin-top: -20px;"><a href="./u/{{ user_info.username }}" class="" aria-hidden="true"><img src="/static/avatar/user/s_{{user_info.avatar or "default.png"}}"width="28px" height="28px" alt="" class="avatar"></a><textarea class="editor-box"></textarea><span class="button-wrap"><div role="button" id=":61.post" class="gbtn post post-comment gbtn-unenable"  style="-webkit-user-select: none;">发布评论</div><div role="button" id=":61.cancel" class="gbtn cancel cancel-comment" style="-webkit-user-select: none;">取消</div></span></div>');
        });

$(document).on('click', '.cancel-comment',  function() {
          $(this).parent().parent().parent().html("");
          $(".comment-box").show();
        });

$(document).on('click', '.c-icon',  function() {
        var comment_list = $(this).parent().parent().find(".jspScrollable");
        if ($(this).hasClass('up')) {
          $(this).removeClass('up');
          $(this).css("background","no-repeat url(//ssl.gstatic.com/s2/oz/images/sprites/stream_showroom-2739698b14093123705adbfae5a84bd1.png) -347px -183px");
          var comment_string=comment_list.html();
          comment_string = comment_string.slice(comment_string.lastIndexOf("<li>"), comment_string.lastIndexOf("</li>"));
          comment_list.html(comment_string);
        }
        else {
          $(this).addClass('up');
          $(this).css("background","no-repeat url(//ssl.gstatic.com/s2/oz/images/sprites/stream_showroom-2739698b14093123705adbfae5a84bd1.png) -37px -121px");
          var post_id = $(this).parent().parent().parent().find('.bottom').find('input').val();
          $.getJSON('/comment/'+post_id, function(data) {
            var comment_string='';
            for(i=0;i<data.comments.length;i++){
              if (!data.comments[i].author_avatar) {
                data.comments[i].author_avatar = 'default.png';
              }
              comment_string+='<li><div class="pic"><a href="/u/'+data.comments[i].author_username+'" target="_blank"><img src="/static/avatar/user/s_'+data.comments[i].author_avatar+'"></a></div><div class="doSth"><p><a class="mb_name" href="/u/'+data.comments[i].author_username+'" target="_blank">'+data.comments[i].author_username+'</a><span class="time">26 秒前</span></p><p><span class="text">'+data.comments[i].content+'</span></p></div></li>'
            }
            comment_list.html(comment_string);
          });
        }
        });
      });
    </script>

<script type="text/javascript">
        $(document).ready(function(){
            $('.plus-btn').click(function() {
                var post_id = $(this).parent().find('input').val();
                var plus_btn = $(this);
                var plus_num = $(this).find('.plus-num');
                if($(this).hasClass('favorited')) {
                        $.getJSON('/favorite/'+post_id, function(data) {
                            if(data.success!=0&&data.message=="revert_favorited") {
                                plus_btn.removeClass('favorited');
                                plus_num.text(parseInt(plus_num.text())-1);
                            }
                        });                        
                } else {
                    $.getJSON('/favorite/'+post_id, function(data) {
                        if(data.success!=0&&data.message=="success_favorited") {
                            plus_btn.addClass('favorited');
                            plus_num.text(parseInt(plus_num.text())+1);
                        }
                    }); 
                }
            });        
        });
    </script>

<script type="text/javascript">
        $(document).ready(function(){
            $('.share-btn').click(function() {
                var post_id = $(this).parent().find('input').val();
                var share_btn = $(this);
                if($(this).hasClass('latered')) {
                        $.getJSON('/later/'+post_id, function(data) {
                            if(data.success!=0&&data.message=="revert_latered") {
                                share_btn.removeClass('latered');
                            }
                        });                        
                } else {
                    $.getJSON('/later/'+post_id, function(data) {
                        if(data.success!=0&&data.message=="success_latered") {
                            share_btn.addClass('latered');
                        }
                    }); 
                }
            });        
        });
    </script>

<script src="/static/js/jquery.infinitescroll.js"></script>
<script>
 $(document).ready(function (){
    $(".feeds").infinitescroll({
          navSelector: "#navigation",
          nextSelector: "#navigation a",
          itemSelector: ".card",
          maxPage: {{posts.page.pages}},   
      }, function(newElems) {
      $.fn.raty.defaults.path = '/static/js/raty/img';
      $('.rating').raty({ 
        half: true,
        score: function() {
          return $(this).parent().find('.score').text()/2;
        },
        click: function(score, evt) {
          var post_id = $(this).parent().parent().parent().find('.bottom').find('input').val();
          var scroe_text = $(this).parent().find('.score');
          var rating = $(this);
          $.ajax({
              type: "POST",
              contentType: "application/json; charset=utf-8",
              dataType: "json",
              url: "/rate/"+post_id,
              data: JSON.stringify({score: score}), 
              success: function (msg) {
                if (msg.success != 0) {
                  if (msg.message == "rated") {
                    rating.raty({ score: parseInt(scroe_text.text())/2 });
                    alert("对不起，你已经评过分了！");
                    return;
                  }
                  scroe_text.text(score*2);
                }
                else {
                  alert("评分没有成功，请重试！");
                }
                

              },
              error: function (msg) {
                alert("error");
              }
            });
        },
        hints: ['很差，浪费生命', '不喜欢', '一般，不妨一看', '喜欢，值得推荐', '非常喜欢，不容错过'],    
      });

$(".card").on({
    mouseenter: function () {
        //stuff to do on mouse enter
        $(this).find('.config-btn').show();
    },
    mouseleave: function () {
        //stuff to do on mouse leave
        $(this).find('.config-btn').hide();
    }
});
            });
 }); 
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            $(document).on('click', '.card .thumb-img, .card .play, .card .title',  function() {
                var post_id = $(this).parent().parent().find('.post-id').val();
                $.getJSON('/watch/'+post_id, function(data) {
                        if(data.success!=0&&data.message=="success_watched") {
                        }
                });      
            });        
        });
    </script>

     <script type="text/javascript">
        $(document).ready(function(){
            $(document).on('click', '.del-post',  function() {
              var post_id = $(this).parent().parent().parent().parent().parent().find('.post-id').val();
              $("#delPostModal .post-id").val(post_id);
            });        
        });
</script>

<script type="text/javascript">
        $(document).ready(function(){
            $(document).on('click', '.del',  function() {
              var post_id = $(this).parent().find('.post-id').val();
              var post_del = "#post-"+post_id;
              $.getJSON('/d/'+post_id, function(data) {
                            if(data.success!=0&&data.message=="post_deleted") {
                                $(post_del).fadeOut();
                            }
                            else {
                              alert("没有删除成功！")
                            }
                        });
              
            });        
        });
</script>

<script type="text/javascript">
        $(document).ready(function(){
            $(document).on('click', '.spam-post',  function() {
              var post_id = $(this).parent().parent().parent().parent().parent().find('.post-id').val();
              $("#spamPostModal .post-id").val(post_id);
            });        
        });
</script>

<script type="text/javascript">
        $(document).ready(function(){
            $(document).on('click', '.spam',  function() {
              var post_id = $(this).parent().find('.post-id').val();
              var post_spam= "#post-"+post_id;
              $.getJSON('/s/'+post_id, function(data) {
                            if(data.success!=0&&data.message=="post_spamed") {
                            }
                            else {
                              alert("没有举报成功！")
                            }
                        });
              
            });        
        });
</script>

<script type="text/javascript">
        $(document).ready(function(){
          $(".card").on({
    mouseenter: function () {
        //stuff to do on mouse enter
        $(this).find('.config-btn').show();
    },
    mouseleave: function () {
        //stuff to do on mouse leave
        $(this).find('.config-btn').hide();
    }
});

        });
</script>
{% endblock %}

{% block main %}
<div class="channels favorites">

  <div class="content-header">
    <div class="header-inner">

      <h2 id="content-main-heading">稍后观看</h2>

      <p class="subheader">这里列出了你暂存的视频，以便稍后观看。</p>
      <div class="create-channel">
        <a href="/later/clear" role="button" class="btn btn-primary" data-toggle="modal">清空队列</a>
      </div>
    </div>
    {% set tab_bar = [
      ('/later', 'all', '所有'),
      ('/later?tab=video', 'video', '短片'),
      ('/later?tab=micro', 'micro', '微电影'),           
      ('/later?tab=movie', 'movie', '电影'),     
      ('/later?tab=star', 'star', '明星'),               
  ] -%}
  {% set active_tab = active_tab|default('index') -%}
    <div class="tabbar">
      {% for href, id, caption in tab_bar %}
      <div {% if id == active_tab %} class="tab m-active"{% else %} class="tab" {% endif %}>
        <a href="{{ href|e }}" class="tab-link">{{ caption|e }}</a>
        <span class="tab-highlight"></span>
      </div>
      {% endfor %}
    </div>
  </div>

</div>

<div class="feeds favorites">
  {% if posts.page.total == 0 %}
                <div class="pl10 pr10">

                  <div class="alert mt20">{{ notice_text }}</div>

                </div>
                {% endif %}
  {% for post in posts.list %}
  <div class="card" id="post-{{ post.id }}">
    <div class="header">
      <div class="avatar">
        <a href="/u/{{ post.author_username }}">
          <img src="/static/avatar/user/m_{{ post.author_avatar or 'default.png' }}"></a>
      </div>
      <div class="info">
        <h3 class="username">
          <a href="/u/{{ post.author_username }}">{{ post.author_username }}</a>
        </h3>
        <span class="ct">
          <span class="channel" title="{{ post.nav_title }}">
            <a href="/{{ post.nav_name }}" class="ic">{{ post.nav_title }}</a>
          </span>
          &nbsp;-&nbsp;
          <span class="time">
            <a href="javascript:void(0)" class="it" title="{{ post.created }}">{{ post.created|pretty_date }}</a>
          </span>
        </span>
      </div>
      <div class="dropdown">
  <a class="config-btn dropdown-toggle" data-toggle="dropdown" href="#" style="display: none"></a>
  <ul class="config-dropdown dropdown-menu" role="menu" aria-labelledby="dLabel">
    {% if post.author_id == user_info.uid %}
                  <li><a class="del-post" data-toggle="modal" href="#delPostModal">删除此条信息</a></li>
                  {% else %}              
                  <li><a class="spam-post" data-toggle="modal" href="#spamPostModal">举报垃圾信息</a></li>
                  {% endif %}
  </ul>
</div>
      <div class="channel-tag">
        <div class="tag-wapper" data-topicindex="1">
          <a href="/c/{{ post.channel_id }}" target="_top" class="tag" aria-label="#{{ post.channel_name }}">#{{ post.channel_name }}</a>
        </div>
      </div>
    </div>
    <p class="intro">{{ post.intro }}</p>
    <div class="content">
      <div class="thumb thumb-imgs">
        <img class="thumb-img" src="{{ post.video_thumb }}"> <i class="play"></i>
        <div class="title">
          <a href="javascript:void(0);" class="a-n ot-anchor YF" title="{{ post.video_title }}">{{ post.video_title }}</a>
        </div>
        <div class="rating" id="rating-{{ post.id }}"></div>
        <div class="score">{%if post.score!=0 %}{{ post.score }}{%endif%}</div>
        <div class="votes">
          {%if post.score==0 %}暂无评分{%else%}{{ post.votes }}人评价{%endif%}
        </div>
      </div>
      <div class="thumb thumb-video" style="display: none;">
        <p class="medis_func S_txt3">
          <a href="javascript:void(0);" action-type="feed_list_media_toSmall" class="retract"> <em class="W_ico12 ico_retract"></em>
            收起
          </a> <i class="W_vline">|</i>
          <a href="{{ post.video_link }}" title="{{ post.video_title }}" class="show_big" target="_blank"> <em class="W_ico12 ico_showbig"></em>
            {{ post.video_title }}
          </a>
          <i class="W_vline">|</i>
          <a action-type="feed_list_media_toFloat" href="/p/{{ post.id }}" target="_blank" class="turn_right">弹出</a>
        </p>
        <embed width="440" height="340" src="{{ post.video_flash }}" allowFullScreen="true" quality="high" align="middle" allowScriptAccess="always" flashvars="isAutoPlay=true" type="application/x-shockwave-flash"></div>
      <div class="bottom">
        <div class="plus-btn {% if post.favorite_id %}favorited{% endif %}">
          <span class="btn-wrap">
            <span class="plus-icon"></span>
            <span class="plus-num">{{ post.favorite }}</span>
          </span>
        </div>
        <div class="share-btn latered">
          <span class="btn-wrap">
            <span class="share-icon"></span>
          </span>
        </div>
        {% if not post.last_comment%}
        <div class="comment">
          <div class="comment-box" tabindex="0" role="button">发表评论...</div>
        </div>
        {% endif %}
        <input class="post-id" type="hidden" name="post_id" value="{{ post.id }}"></div>
      <div class="comment-editor"></div>
    </div>

    <div class="comment-card">
      {% if post.last_comment %}
      <div class="divider"></div>
      <div class="c-num">
        <a class="c-link">{{ post.comment_count }} 条评论</a>
        <span class="c-icon"></span>
      </div>
      <div class="comment-list">
        <div class="ftRt " >
          <ul class="jspScrollable" >
            <li>
              <div class="pic">
                <a href="/u/{{ post.comment_user_name }}" target="_blank">
                  <img src="/static/avatar/user/s_{{ post.comment_user_avatar or 'default.png' }}"></a>
              </div>
              <div class="doSth">
                <p>
                  <a class="mb_name" href="/u/{{ post.comment_user_name }}" target="_blank">{{ post.comment_user_name }}</a>
                  <span class="time">{{ post.comment_created|pretty_date }}</span>
                </p>
                <p>
                  <span class="text">{{ post.comment_content }}</span>
                </p>
              </div>
            </li>

          </ul>

        </div>

      </div>
      <div class="divider" style=""></div>
      <div class="comment-input-wraper">
        <div class="comment-box" tabindex="0" role="button">发表评论...</div>
      </div>
      <div class="comment-editor"></div>
      {% endif %}
    </div>

  </div>
  {% endfor %}
  <div id="navigation" align="center">
    <a href="/?page={{posts.page.next}}"></a>
  </div>
</div>

  <div id="delPostModal"  class="modal hide modal-dialog absolute-position" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 550px; top: 119.5px;">
      <div class="G-q NSc" tabindex="0" role="dialog" aria-labelledby=":a6" style=""><div class="G-q-O G-q-O-Ip" id=":a6"><span class="G-q-O-E"></span><span class="G-q-O-ab" style="display: none;"></span></div><div class="G-q-B">要永久删除此信息吗？</div><div class="G-q-ea"><button name="yes" class="d-Cb-Ba d-Cb-U del" data-dismiss="modal">删除</button><button name="cancel" data-dismiss="modal">取消</button><input class="post-id" type="hidden" name="post_id" value=""></div></div>
    </div>

    <div id="spamPostModal"  class="modal hide modal-dialog absolute-position" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 550px; top: 119.5px;">
      <div class="G-q NSc" tabindex="0" role="dialog" aria-labelledby=":a6" style=""><div class="G-q-O G-q-O-Ip" id=":a6"><span class="G-q-O-E"></span><span class="G-q-O-ab" style="display: none;"></span></div><div class="G-q-B">要举报此条信息吗？</div><div class="G-q-ea"><button name="yes" class="d-Cb-Ba d-Cb-U spam" data-dismiss="modal">举报</button><button name="cancel" data-dismiss="modal">取消</button><input class="post-id" type="hidden" name="post_id" value=""></div></div>
    </div>
{% endblock %}

{% block right %}

{% endblock %}