{% extends 'snippet/layout.html' %}

{% block javascript %}
{% endblock %}

{% block main %}
<div class="channels">

  <div class="content-header">
    <div class="header-inner">

      <h2 id="content-main-heading">我的消息</h2>

      <p class="subheader">别人回复我的或提到我的的消息提醒。</p>
      <div class="create-channel">
        <a href="/notification?tab=allread" role="button" class="btn btn-primary" data-toggle="modal">全部已读</a>
      </div>
    </div>
    {% set tab_bar = [
      ('/notification', 'all', '所有'),
      ('/notification?tab=comment', 'comment', '回复我的'),
      ('/notification?tab=mention', 'mention', '提到我的'),                       
  ] %}
  {% set active_tab = active_tab|default('index') -%}
    <div class="tabbar">
      {% for href, id, caption in tab_bar %}
      <div class="tab {% if id == active_tab %}m-active{% endif %}" >
        <a href="{{ href|e }}" class="tab-link">{{ caption|e }}</a>
        <span class="tab-highlight"></span>
      </div>
      {% endfor %}
    </div>
  </div>

  <div id="timeline">
    <div class="stream-container " data-cursor="1381275393829:20">
      <div class="stream discover-stream">
        <ol class="stream-items js-navigable-stream" id="stream-items-id">
          {% for notification in notifications.list %}
          <li class="js-stream-item stream-item stream-item" data-item-id="56833" id="stream-item-user-56833" data-item-type="user">

            <div class="account   js-actionable-user js-profile-popup-actionable " data-screen-name="isaac" data-user-id="56833" data-feedback-token="133">
              <div class="user-actions btn-group not-following  " data-user-id="7948282" data-screen-name="zhengyun" data-name="zhengyun" data-protected="false">
                {% if notification.status == 0 %}
                <a href="/n/{{ notification.id }}" role="button" id="btn-{{ notification.id }}" class="a-f-e c-b c-b-T y-qa-za-b-s y-qa-za-b follow followed" title="" style="visibility: visible; -webkit-user-select: none; max-width: 232px;">
                  <span class="follow-text" dir="ltr">查看</span>
                </a>
                {% else %}
                <a href="/n/{{ notification.id }}" role="button" id="btn-{{ notification.id }}" class="a-f-e c-b c-b-T y-qa-za-b-s y-qa-za-b follow" title="" style="visibility: visible; -webkit-user-select: none; max-width: 232px;">
                  <span class="follow-text" dir="ltr">已读</span>
                </a>
                {% endif %}
              </div>

              <div class="content">
                <div class="stream-item-header">
                  <div class="account-group js-user-profile-link" href="/c/{{ notification.id }}">

                    <a href="/u/{{ notification.trigger_username }}" class="username js-action-profile-name">
                      <img class="avatar js-action-profile-avatar " src="/static/avatar/user/m_{{ notification.trigger_avatar or 'default.png' }}?t={{ gen_random() }}" alt="{{ notification.involved_post_video_title }}">{{ notification.trigger_username }}</a>
                    <span>‏ 在</span>
                    {% if notification.involved_type < 2 %}
                    <a href="/n/{{ notification.id }}" class="js-action-profile-name">{{ notification.involved_post_video_title }}</a>
                    {% else %}
                    <a href="/n/{{ notification.id }}" class="js-action-profile-name">{{ notification.involved_topic_title }}</a>
                    {% endif %}
                    <span>
                      ‏ 里{% if notification.involved_type == 0 or notification.involved_type == 2%}提到{% else %}回复{% endif %}了你
                    </span>

                  </div>
                </div>
                <p class="bio notification-content">{{ notification.content|content_process }}</p>

                <p class="metadata">{{ notification.occurrence_time|pretty_date }}</p>

              </div>
            </div>

          </li>
          {% endfor %}
        </ol>
        <div class="stream-footer ">
          <div class="timeline-end has-items has-more-items">

            <div class="stream-loading">
              <div class="stream-end-inner">
                <div class="pagination">{{ notifications.page|pagination(request.uri) }}</div>
                {% if notifications.page.total == 0 %}
                <div class="pl10 pr10">

                  <div class="alert mt20">{{ notice_text }}</div>

                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block right %}

{% endblock %}