{% extends 'snippet/layout.html' %}

{% block javascript %}
<script type="text/javascript">
      $(document).ready(function(){

        $(document).on('click', '.create-channel',  function() {
          $(".channel-box").show();
        });

        $(document).on('click', '.cancel-post',  function() {
          $(".channel-box").hide();
          $(".create-channel").show();
        });
      });
    </script>

<script type="text/javascript">
        jQuery(document).ready(function() {
            $('.follow').click(function() {
                var channel_id = $(this).find('input').val();    
                if($(this).hasClass('followed')) {
                        $.getJSON('/f/'+channel_id, function(data) {
                            if(data.success!=0&&data.message=="revert_followed") {
                                $('#btn-'+channel_id).removeClass('followed');
                                $('#btn-'+channel_id).find('span').text("关注");

                            }
                        });                        
                } else {
                    $.getJSON('/f/'+channel_id, function(data) {
                        if(data.success!=0&&data.message=="success_followed") {
                            $('#btn-'+channel_id).addClass('followed');
                            $('#btn-'+channel_id).find('span').text("取消关注");

                        }
                    }); 
                }
            });        
        });
    </script>
{% endblock %}

{% block main %}
<div class="channels">

  <div class="content-header">
    <div class="header-inner">

      <h2 id="content-main-heading">米饭社区</h2>

      <p class="subheader">我关注的频道以及自己创建的频道。</p>
      <div class="create-channel">
        <a href="/t/create" role="button" class="btn btn-primary" data-toggle="modal">创建话题</a>
      </div>
    </div>
  </div>

  <div id="timeline">
    <div class="stream-container " data-cursor="1381275393829:20">
      <div class="stream discover-stream">
        <ol class="stream-items js-navigable-stream" id="stream-items-id">
          {% for topic in topics.list %}
          <li class="js-stream-item stream-item stream-item" data-item-id="56833" id="stream-item-user-56833" data-item-type="user">

            <div class="account   js-actionable-user js-profile-popup-actionable " data-screen-name="isaac" data-user-id="56833" data-feedback-token="133">

              <div class="content">
                <div class="stream-item-header">
                  <a class="account-group js-user-profile-link" href="/u/{{ topic.author_username }}">
                    <img class="avatar js-action-profile-avatar " src="/static/avatar/user/m_{{ topic.author_avatar or 'default.png' }}" alt="{{ topic.author_username}}"> <strong class="fullname js-action-profile-name">{{ topic.title }}</strong>
                    <span>‏</span>
                  </a>
                </div>

                <div class="metadata">
                  <span class="username">
                    <a href="/u/{{ topic.author_username or topic.author_uid }}">{{ topic.author_username }}</a>
                </span>
                • 
                        {% if topic.last_replied_time %}
                <span class="last-touched">{{ topic.last_touched|pretty_date }}</span>
                •
                <span class="last-reply-username">
                    最后回复来自
                    <a href="/u/{{ topic.last_replied_username or topic.last_replied_uid }}"> <strong>{{ topic.last_replied_username }}</strong>
                    </a>
                </span>
                {% else %}
                <span class="last-touched">{{ topic.last_touched|pretty_date }}</span>
                {% endif %}
                </div>

              </div>
            </div>

          </li>
          {% endfor %}
        </ol>

        <div class="stream-footer ">
          <div class="timeline-end has-items has-more-items">

            <div class="stream-loading">
              <div class="stream-end-inner">
                <div class="pagination">{{ topics.page|pagination(request.uri) }}</div>
                {% if topics.page.total == 0 %}
        <div class="pl10 pr10">
            <div class="alert mt20">{{ notice_text }}</div>
        </div>
    {% endif %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block right %}

{% endblock %}