{% extends 'snippet/layout.html' %}

{% block javascript %}
<script type="text/javascript">
      $(document).ready(function(){

        $(document).on('click', '.create-channel',  function() {
          $(".channel-box").show();
        });

        $(document).on('click', '.cancel-post',  function() {
          $(".channel-box").hide();
          $(".create-channel").show();
        });
      });
    </script>

<script type="text/javascript">
        jQuery(document).ready(function() {
            $('.follow').click(function() {
                var channel_id = $(this).find('input').val();    
                if($(this).hasClass('followed')) {
                        $.getJSON('/f/'+channel_id, function(data) {
                            if(data.success!=0&&data.message=="revert_followed") {
                                $('#btn-'+channel_id).removeClass('followed');
                                $('#btn-'+channel_id).find('span').text("关注");

                            }
                        });                        
                } else {
                    $.getJSON('/f/'+channel_id, function(data) {
                        if(data.success!=0&&data.message=="success_followed") {
                            $('#btn-'+channel_id).addClass('followed');
                            $('#btn-'+channel_id).find('span').text("取消关注");

                        }
                    }); 
                }
            });        
        });
    </script>
{% endblock %}

{% block main %}
<div class="channels">

 <div class="topic-create container-box">
    <div class="ui-header">
        <span class="title">编辑回复</span>
    </div>

    <div class="ui-content">
        <form class="mt10" action="" method="post">
            {{ errors|dump_errors }}
            <textarea rows="3" class="content mt5 smart-code-support" placeholder="正文" name="content">{{ reply.content }}</textarea>
            <input name="rid" type="hidden" value="{{ reply.id }}" />
            <input type="submit" id="checkall" class="btn btn-small" value="立即修改">{{ xsrf_form_html() }}</form>
    </div>
</div>

</div>
{% endblock %}

{% block right %}

{% endblock %}