{% extends 'snippet/layout.html' %}

{% block javascript %}
<script type="text/javascript">
      $(document).ready(function(){
        $(document).on('click', '.thumb img, .thumb i, .thumb .title',  function() {
          $(this).parent().html("<p class=\"medis_func S_txt3\"><a href=\"javascript:void(0);\" action-type=\"feed_list_media_toSmall\" class=\"retract\"><em class=\"W_ico12 ico_retract\"></em>收起</a><i class=\"W_vline\">|</i><a href=\"http://t.cn/zQ7uetb\" title=\"视频-荣耀之路致敬艺术大师 家嫂33岁生日快乐！\" class=\"show_big\" target=\"_blank\"><em class=\"W_ico12 ico_showbig\"></em>视频-荣耀之路致敬艺术大...</a><i class=\"W_vline\">|</i><a action-type=\"feed_list_media_toFloat\" action-data=\"title=视频-荣耀之路致敬艺术大师 家嫂33岁生日快乐！\" href=\"javascript:void(0);\" class=\"turn_right\">弹出</a></p><embed width=\"350\" height=\"270\" src=\"http://player.youku.com/player.php/sid/XNDc1NzAyMDYw/v.swf\" allowFullScreen=\"true\" quality=\"high\" align=\"middle\" allowScriptAccess=\"always\" flashvars=\"isAutoPlay=true\" type=\"application/x-shockwave-flash\"></embed>");
        });
      });
    </script>

<script type="text/javascript">
      $(document).ready(function(){
        $(document).on('click', '.retract',  function() {
          $(this).parent().parent().html("<img src=\"http://p3.v.iask.com/849/338/108335999_1.jpg\"><i class=\"play\"></i><div class=\"title\"><a href=\"javascript:void(0);\" class=\"a-n ot-anchor YF\">吉米鸡毛秀 约翰尼德普做客热吻连连 @铁手Desperado译制</a></div>");
        });
      });
    </script>

<script type="text/javascript">
      $(document).ready(function(){
        $(document).on('click', '.comment',  function() {
          $(this).hide();
          $(this).parent().parent().find(".comment-editor").html("<div class=\"divider\" style=\"\"></div><div class=\"wrapper\"><a href=\"./\" class=\"\" aria-hidden=\"true\"><img src=\"//lh4.googleusercontent.com/-deUkWpgvu6o/AAAAAAAAAAI/AAAAAAAAAAA/p6RFKhrUf1g/s28-c-k-no/photo.jpg\"width=\"28px\" height=\"28px\" alt=\"\" class=\"avatar\"></a><div class=\"editor-box\"><div class=\"inner\"><div class=\"input\" role=\"textbox\" contenteditable=\"plaintext-only\"></div></div></div><span class=\"button-wrap\"><div role=\"button\" id=\":61.post\" class=\"gbtn post gbtn-unenable\" aria-disabled=\"true\" style=\"-webkit-user-select: none;\">发布评论</div><div role=\"button\" id=\":61.cancel\" class=\"gbtn cancel cancel-comment\" style=\"-webkit-user-select: none;\">取消</div></span></div>");
        });

        $(document).on('click', '.cancel',  function() {
          $(this).parent().parent().parent().html("");
          $(".comment").show();
        });

        $(document).on('click', '.cancel-comment',  function() {
          $(this).parent().parent().parent().html("");
          $(".comment").show();
        });

        $(document).on('click', '.post-btn',  function() {
          $(this).hide();
          $(".post-box").show();
        });

        $(document).on('click', '.cancel-post',  function() {
          $(".post-box").hide();
          $(".post-btn").show();
        });
      });
    </script>

<script type="text/javascript">
        jQuery(document).ready(function() {
            $('.follow-toggle').click(function() {
                var channel_id = {{ channel.id }};             
                if($(this).hasClass('followed')) {
                        $.getJSON('/f/'+channel_id, function(data) {
                            if(data.success!=0&&data.message=="revert_followed") {
                                $('.follow-toggle').removeClass('followed');
                                $('.follow-toggle').removeClass('btn-danger');
                                $('.follow-toggle').text("关注");
                            }
                        });                        
                } else {
                    $.getJSON('/f/'+channel_id, function(data) {
                        if(data.success!=0&&data.message=="success_followed") {
                            $('.follow-toggle').addClass('followed');
                            $('.follow-toggle').addClass('btn-danger');
                            $('.follow-toggle').text("取消关注");
                        }
                    }); 
                }
            });        
        });
    </script>

<script type="text/javascript">
        jQuery(document).ready(function() {
            $('.plus-toggle').click(function() {              
                var channel_id = {{ channel.id }};
                var plus = parseInt($('.plus-toggle').text())     
                if($(this).hasClass('plused')) {
                        $.getJSON('/p/'+channel_id, function(data) {
                            if(data.success!=0&&data.message=="revert_plused") {
                                $('.plus-toggle').removeClass('plused');
                                $('.plus-toggle').removeClass('btn-danger');
                                plus=plus-1
                                $('.plus-toggle').text("+"+plus);
                                $('#plus-num').html(plus + "<span>plus</span>");
                            }
                        });                        
                } else {
                    $.getJSON('/p/'+channel_id, function(data) {
                        if(data.success!=0&&data.message=="success_plused") {
                            $('.plus-toggle').addClass('plused');
                            $('.plus-toggle').addClass('btn-danger');
                            plus=plus+1
                            $('.plus-toggle').text("+"+plus);
                            $('#plus-num').html(plus + "<span>plus</span>");
                        }
                    }); 
                }
            });        
        });
    </script>
{% endblock %}

{% block main %}
<div class="feeds">

    <div class="c-setting-card">
        <form class="form-horizontal" action='' method="POST" enctype="multipart/form-data">
            <fieldset>
                <div id="legend">
                    <legend class="setting-title">设置频道封面</legend>
                </div>
                {{ errors|dump_errors }}
                <div class="control-group">
                    <!-- Avatar -->
                    <label class="control-label" for="username">封&nbsp;&nbsp;&nbsp;&nbsp;面</label>
                    <div class="controls">
                        <img src="/static/cover/channel/m_{{ channel.cover or 'default.png' }}?t={{ gen_random() }}" alt="" class="avatar" />
                    </div>
                </div>

                <div class="control-group">
                    <!-- Avatar-->
                    <label class="control-label" for="avatar">上&nbsp;&nbsp;&nbsp;&nbsp;传</label>
                    <div class="controls">
                        <input type="file" id="avatar" name="avatar" placeholder="" class="input-xlarge">
                        <p class="help-block">请选择要上传的封面文件</p>
                    </div>
                </div>

                <div class="control-group">
                    <!-- Button -->
                    <div class="controls">
                        <button class="btn btn-primary">保存更改</button>
                    </div>
                </div>
            </fieldset>
            {{ xsrf_form_html() }}
        </form>
    </div>
</div>
{% endblock %}

{% block right %}
{% endblock %}