{% extends 'snippet/layout.html' %}

{% block javascript %}
<script type="text/javascript">
      $(document).ready(function(){

        $(document).on('click', '.create-channel',  function() {
          $(".channel-box").show();
        });

        $(document).on('click', '.cancel-post',  function() {
          $(".channel-box").hide();
          $(".create-channel").show();
        });
      });
    </script>

<script type="text/javascript">
        jQuery(document).ready(function() {
            $('.follow').click(function() {
                var channel_id = $(this).find('input').val();    
                if($(this).hasClass('followed')) {
                        $.getJSON('/f/'+channel_id, function(data) {
                            if(data.success!=0&&data.message=="revert_followed") {
                                $('#btn-'+channel_id).removeClass('followed');
                                $('#btn-'+channel_id).find('span').text("关注");

                            }
                        });                        
                } else {
                    $.getJSON('/f/'+channel_id, function(data) {
                        if(data.success!=0&&data.message=="success_followed") {
                            $('#btn-'+channel_id).addClass('followed');
                            $('#btn-'+channel_id).find('span').text("取消关注");

                        }
                    }); 
                }
            });        
        });
    </script>
{% endblock %}

{% block main %}
<div class="channels">

  <div class="content-header">
    <div class="header-inner">

      <h2 id="content-main-heading">查找频道</h2>

      <p class="subheader">查找你感兴趣的频道。</p>
    </div>

    <form class="js-search-form content-searchbar" action="/who_to_follow/suggestions/search" method="GET">
      <table class="flex-table">
        <tbody>
          <tr>
            <td class="flex-table-primary">
              <div class="flex-table-form">
                <input class="flex-table-input search-query" type="text" name="q" placeholder="搜索你感兴趣的频道"></div>
            </td>
            <td class="flex-table-secondary">
              <button class="btn btn-primary follow-toggle flex-table-btn js-submit" type="submit">搜索</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>
{% endblock %}

{% block right %}

{% endblock %}