{% extends 'snippet/layout.html' %}

{% block javascript %}
<script type="text/javascript">
      $(document).ready(function(){

        $(document).on('click', '.create-channel',  function() {
          $(".channel-box").show();
        });

        $(document).on('click', '.cancel-post',  function() {
          $(".channel-box").hide();
          $(".create-channel").show();
        });
      });
    </script>

<script type="text/javascript">
        jQuery(document).ready(function() {
            $('.follow').click(function() {
                var channel_id = $(this).find('input').val();    
                if($(this).hasClass('followed')) {
                        $.getJSON('/f/'+channel_id, function(data) {
                            if(data.success!=0&&data.message=="revert_followed") {
                                $('#btn-'+channel_id).removeClass('followed');
                                $('#btn-'+channel_id).find('span').text("关注");

                            }
                        });                        
                } else {
                    $.getJSON('/f/'+channel_id, function(data) {
                        if(data.success!=0&&data.message=="success_followed") {
                            $('#btn-'+channel_id).addClass('followed');
                            $('#btn-'+channel_id).find('span').text("取消关注");

                        }
                    }); 
                }
            });        
        });
    </script>
{% endblock %}

{% block main %}
<div class="channels">

  <div class="content-header">
    <div class="header-inner">

      <h2 id="content-main-heading">@{{view_user_info.username}} 的频道</h2>

      <p class="subheader">{{view_user_info.username}}所创建的频道。</p>
    </div>



    {% set tab_bar = [
      ('/channels/u/'+view_user_info.username, 'all', '所有'),
      ('/channels/u/'+view_user_info.username+'?tab=video', 'video', '短片'),
      ('/channels/u/'+view_user_info.username+'?tab=micro', 'micro', '微电影'),           
      ('/channels/u/'+view_user_info.username+'?tab=movie', 'movie', '电影'),     
      ('/channels/u/'+view_user_info.username+'?tab=star', 'star', '明星'),               
  ] %}
  {% set active_tab = active_tab|default('index') -%}
    <div class="tabbar">
      {% for href, id, caption in tab_bar %}
      <div {% if id == active_tab %} class="tab m-active"{% else %} class="tab" {% endif %}>
        <a href="{{ href|e }}" class="tab-link">{{ caption|e }}</a>
        <span class="tab-highlight"></span>
      </div>
      {% endfor %}
    </div>
  </div>

  <div id="timeline">
    <div class="stream-container " data-cursor="1381275393829:20">
      <div class="stream discover-stream">
        <ol class="stream-items js-navigable-stream" id="stream-items-id">
          {% for channel in channels.list %}
          <li class="js-stream-item stream-item stream-item" data-item-id="56833" id="stream-item-user-56833" data-item-type="user">

            <div class="account   js-actionable-user js-profile-popup-actionable " data-screen-name="isaac" data-user-id="56833" data-feedback-token="133">
              <div class="user-actions btn-group not-following  " data-user-id="7948282" data-screen-name="zhengyun" data-name="zhengyun" data-protected="false">
                {% if channel.follow_user_id %}
            {% if channel.follow_user_id==channel.author_id %}
                <div role="button" id="btn-{{ channel.id }}" class="a-f-e c-b c-b-T y-qa-za-b-s y-qa-za-b followed disabled" title="" style="visibility: visible; -webkit-user-select: none; max-width: 232px;">
                  <input type="hidden" name="channel_id" value="{{ channel.id }}">
                  <span class="follow-text" dir="ltr">已关注</span>
                </div>
                {% else %}
                <div role="button" id="btn-{{ channel.id }}" class="a-f-e c-b c-b-T y-qa-za-b-s y-qa-za-b follow followed" title="" style="visibility: visible; -webkit-user-select: none; max-width: 232px;">
                  <input type="hidden" name="channel_id" value="{{ channel.id }}">
                  <span class="follow-text" dir="ltr">取消关注</span>
                </div>
                {% endif %}
            {% else %}
                <div role="button" id="btn-{{ channel.id }}" class="a-f-e c-b c-b-T y-qa-za-b-s y-qa-za-b follow" title="" style="visibility: visible; -webkit-user-select: none; max-width: 232px;">
                  <input type="hidden" name="channel_id" value="{{ channel.id }}">
                  <span class="follow-text" dir="ltr">关注</span>
                </div>
                {% endif %}
              </div>

              <div class="content">
                <div class="stream-item-header">
                  <a class="account-group js-user-profile-link" href="/c/{{ channel.id }}">
                    <img class="avatar js-action-profile-avatar " src="/static/avatar/channel/b_{{ channel.avatar or 'default.png' }}?t={{ gen_random() }}" alt="{{ channel.name }}"> <strong class="fullname js-action-profile-name">{{ channel.name }}</strong>
                    <span>‏</span>
                    <span class="username js-action-profile-name">@{{ channel.author_username }}</span>
                  </a>
                </div>
                <p class="bio ">{{ channel.intro }}</p>

                <p class="metadata">
                  {{ channel.posts }} 个视频,
                  {{ channel.followers}} 人关注.
                </p>

              </div>
            </div>

          </li>
          {% endfor %}
        </ol>

        <div class="stream-footer ">
          <div class="timeline-end has-items has-more-items">

            <div class="stream-loading">
              <div class="stream-end-inner">
                <div class="pagination">{{ channels.page|pagination(request.uri) }}</div>
                {% if channels.page.total == 0 %}
                <div class="pl10 pr10">

                  <div class="alert mt20">{{ notice_text }}</div>

                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block right %}

{% endblock %}