<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<div style="background:#ebebeb;padding:0">
		<div style="min-height:100%;background:#ebebeb;padding:80px 0;margin:0;font-size:14px;line-height:1.7;font-family:'Helvetica Neue',Arial,sans-serif;color:#444">
			<div style="margin:0 auto;width:580px;background:#fff;border-radius: 20px;">
				<div style="color:#999;padding:20px 0 10px;font-size:13px;text-align:center;background:#f95252;border-radius: 20px 20px 0 0;">
					<a href="http://mifan.tv" target="_blank" style="height: 30px;display: block;">
						<img src="http://mifan.tv/static/images/logo.png" alt="米饭" style="margin-left: 15px;"></a>
				</div>

				<div style="padding:30px 40px 40px">
					您好，
					<br>
					<br>
					注册成功，欢迎来到
					<a style="color:#16a085;text-decoration:none" href="http://mifan.tv" target="_blank">mifan.tv</a>
					！
					<br>
					<br>
					<a class="il" style="color:#16a085;text-decoration:none" href="http://mifan.tv" target="_blank">米饭</a>
					团队敬上
					<br></div>

				<div style="border-top:1px solid #ddd;text-align:center;min-height:90px;line-height:90px;border-radius: 0 0 20px 20px;">
					<a href="http://mifan.tv" style="padding:8px 18px;background:#e74c3c;color:#fff;text-decoration:none;border-radius:3px" target="_blank">访问网站 ➔</a>
				</div>
			</div>
			<div style="margin-top:30px;text-align:center;font-size:12px;color:#999">
				* 如果不想再收到类似邮件，可修改
				<a href="javascript:void(0)" style="color:#16a085;text-decoration:none" target="_blank">通知提醒</a>
				的设置
			</div>
			<div class="yj6qo"></div>
			<div class="adL"></div>
		</div>
		<div class="adL"></div>
	</div>
</body>
</html>