{% extends 'snippet/layout.html' %}

{% block main %}
<div class="setting-card">
    <form class="form-horizontal" action='' method="POST">
        <fieldset>
            <div id="legend">
                <legend class="setting-title">用户设置</legend>
            </div>
            {{ errors|dump_errors }}
            <div class="control-group">
                <!-- Username -->
                <label class="control-label" for="username">用户名</label>
                <div class="controls">
                    <input type="text" id="username" name="username" placeholder="" class="input-xlarge" value="{{ user_info.username or '' }}" readonly>
                    <p class="help-block">用户名由字母开头，只能含有字母、数字或者下划线</p>
                </div>
            </div>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="email">E-mail</label>
                <div class="controls">
                    <input type="text" id="email" name="email" placeholder="" class="input-xlarge" value="{{ user_info.email or '' }}" readonly>
                    <p class="help-block">您的E-mail，便于登录和找回密码</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Avatar -->
                <label class="control-label" for="username">头&nbsp;&nbsp;&nbsp;&nbsp;像</label>
                <div class="controls">
                    <img src="/static/avatar/user/b_{{ user_info.avatar or 'default.png' }}?t={{ gen_random() }}" alt="" class="avatar" />
                    <img src="/static/avatar/user/m_{{ user_info.avatar or 'default.png' }}?t={{ gen_random() }}" alt="" class="avatar" />
                    <img src="/static/avatar/user/s_{{ user_info.avatar or 'default.png' }}?t={{ gen_random() }}" alt="" class="avatar" />
                    <a href="/setting/avatar" class="btn btn-primary mbtn avatar-btn">设置头像</a>
                </div>
            </div>

            <div class="control-group">
                <!-- Avatar -->
                <label class="control-label" for="username">封&nbsp;&nbsp;&nbsp;&nbsp;面</label>
                <div class="controls">
                    <img src="/static/cover/user/m_{{ user_info.cover or 'default.png' }}?t={{ gen_random() }}" alt="" class="avatar" />
                    <a href="/setting/cover" class="btn btn-primary mbtn avatar-btn">设置封面</a>
                </div>
            </div>

            <div class="control-group">
                <!-- E-mail -->
                <label class="control-label" for="self_intro">简&nbsp;&nbsp;&nbsp;&nbsp;介</label>
                <div class="controls">
                    <textarea type="text" id="self_intro" name="self_intro" placeholder="" class="input-xlarge">{{ user_info.self_intro or '' }}</textarea>
                    <p class="help-block">可以稍微详细的介绍自己。</p>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                    <button class="btn btn-primary">保存改动</button>
                    <a href="/setting/password" class="btn btn-default">设置密码</a>
                </div>
            </div>
        </fieldset>
        {{ xsrf_form_html() }}
    </form>
</div>
{% endblock %}

{% block sidebar %}
<div class="sidenav container-box">
    <ul>
        <li class="current">
            <a href="/setting">用户中心</a>
        </li>
        <li>
            <a href="/setting/avatar">设置头像</a>
        </li>
        <li>
            <a href="/setting/password">设置密码</a>
        </li>
        <li>
            <a href="/">返回首页</a>
        </li>
    </ul>
</div>
{% endblock %}